openapi: 3.1.0
info:
  title: Kyren Pay API
  description: |
    The Kyren Pay API enables merchants to accept payments from customers worldwide.
    Integrate checkout sessions, manage products, track orders, and handle webhooks.

    **Authentication**: Server-side merchant integrations use `x-api-key`.
    Public configuration operations have no authentication requirement.
    `/v1/merchant/**` dashboard operations use a merchant login JWT and are not part of this API reference.
    Epay compatibility operations use their documented `pid` and signature/key parameters.

    **Data types**: The API uses the following types for request/response data:
    - **string**: For text, identifiers, and **all amount/price fields** (e.g. `price`, `amount`, `platformFee`, `available`)
      to avoid floating-point precision issues. Use decimal format like `"9.99"`.
    - **integer**: For counts, pagination, and timestamps
    - **timestamp**: Unix timestamp in milliseconds (integer) for all time fields (e.g. `createdAt`, `paidAt`, `expiresAt`).
      Time parameters (e.g. `startDate`, `endDate`) also use Unix milliseconds.
    - **calendar date**: Agreement `effectiveDate` uses a `YYYY-MM-DD` string; it is a calendar date, not an event timestamp.
  version: "1.0.0"
  contact:
    name: Kyren Pay Support
    email: support@kyrenpay.com
    url: https://kyrenpay.com

servers:
  - url: https://api.kyrenpay.com
    description: Production
  - url: https://staging-api.kyren.top
    description: Staging, available only with credentials issued by Kyren

security:
  - ApiKeyAuth: []

tags:
  - name: Config
    description: Retrieve platform configuration such as supported currencies.
  - name: Products
    description: Create and manage products that represent the goods or services you sell.
  - name: Checkouts
    description: Create checkout sessions to collect payments from your customers.
  - name: Orders
    description: View and manage orders created from completed checkout sessions.
  - name: Refunds
    description: Create and retrieve refunds for eligible paid Kyren API orders.
  - name: Balance
    description: View your account balance and transaction history.
  - name: Epay Compatibility
    description: |
      Compatibility endpoints for existing integrations built on 易支付 API conventions.
      These endpoints use form/query parameters with `pid + sign` verification (MD5), not `x-api-key` header auth.

paths:
  /v1/config/currencies:
    get:
      operationId: getCurrencies
      tags: [Config]
      summary: Get supported currencies
      description: |
        Returns the list of currencies supported by the platform and the default currency.
        Use this when creating products or configuring pricing to ensure you use a supported currency.
      security: []
      responses:
        "200":
          description: Supported currencies and default currency
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrenciesResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  currencies:
                    - code: "USD"
                      label: "USD"
                    - code: "CNY"
                      label: "CNY"
                    - code: "HKD"
                      label: "HKD"
                  defaultCurrency: "USD"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/config/settlement:
    get:
      operationId: getSettlementConfig
      tags: [Config]
      summary: Get settlement configuration
      description: |
        Returns the platform-wide settlement period in business days.
        Individual orders may use their channel's period captured at creation.
        Use order `settleDateTime` for the expected eligibility time and `settledAt` for actual settlement.
        This configuration does not guarantee payout timing.
      security: []
      responses:
        "200":
          description: Platform settlement configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementConfigResponseWrapper"
              example:
                code: 0
                message: success
                data:
                  settlementDays: 1
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/config/legal:
    get:
      operationId: getLegalConfig
      tags: [Config]
      summary: Get legal configuration
      description: Returns the current legal terms version and public document URLs. Reading these documents does not record merchant agreement acceptance.
      security: []
      responses:
        "200":
          description: Current legal document links
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalConfigResponseWrapper"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/config/legal/merchant-services-agreement:
    get:
      operationId: getCurrentMerchantServicesAgreement
      tags: [Config]
      summary: Get current merchant services agreement
      description: |
        Returns the current rendered agreement, its version, effective date, hashes, and public URL.
        Retrieve it without an API key. Complete acceptance in the merchant dashboard;
        downloading this document does not sign it or change the account's agreement status.
      security: []
      responses:
        "200":
          description: Current merchant services agreement
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store` for the current agreement.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantAgreementDocumentResponseWrapper"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/config/legal/merchant-services-agreement/{version}:
    get:
      operationId: getHistoricalMerchantServicesAgreement
      tags: [Config]
      summary: Get historical merchant services agreement
      description: Returns the agreement for an explicit version and effective date. Reading a historical document does not complete acceptance of the current agreement.
      security: []
      parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
          description: Agreement version to retrieve.
        - name: effectiveDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Agreement effective calendar date in `YYYY-MM-DD` format, not an event timestamp.
      responses:
        "200":
          description: Historical merchant services agreement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantAgreementDocumentResponseWrapper"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/products:
    post:
      operationId: createProduct
      tags: [Products]
      summary: Create a product
      description: Creates a new product. Products represent the goods or services you sell.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProductRequest"
            example:
              name: "1000 AI Credits"
              description: "Top up 1000 credits for AI API usage"
              price: "9.99"
              currency: "USD"
              metadata:
                credits: "1000"
      responses:
        "200":
          description: Product created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  id: "prod_abc123"
                  name: "1000 AI Credits"
                  description: "Top up 1000 credits for AI API usage"
                  image: null
                  price: "9.99"
                  currency: "USD"
                  status: "ACTIVE"
                  metadata:
                    credits: "1000"
                  createdAt: 1736932200000
                  updatedAt: 1736932200000
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

    get:
      operationId: listProducts
      tags: [Products]
      summary: List all products
      description: Returns a paginated list of your products.
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ProductStatus"
          description: Filter by product status
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: A paginated list of products
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductListResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  items:
                    - id: "prod_abc123"
                      name: "1000 AI Credits"
                      description: "Top up 1000 credits for AI API usage"
                      image: null
                      price: "9.99"
                      currency: "USD"
                      status: "ACTIVE"
                      metadata:
                        credits: "1000"
                      createdAt: 1736932200000
                      updatedAt: 1736932200000
                  pagination:
                    page: 1
                    size: 20
                    total: 1
                    totalPages: 1
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/products/{id}:
    get:
      operationId: getProduct
      tags: [Products]
      summary: Retrieve a product
      description: Retrieves the details of an existing product.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: The product object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseWrapper"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

    patch:
      operationId: updateProduct
      tags: [Products]
      summary: Update a product
      description: Updates an existing product. Only the provided fields will be updated.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProductRequest"
            example:
              name: "2000 AI Credits"
              price: "18.99"
      responses:
        "200":
          description: Product updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseWrapper"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

    delete:
      operationId: archiveProduct
      tags: [Products]
      summary: Archive a product
      description: Archives a product. Archived products cannot be used to create new checkout sessions.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Product archived successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyResponseWrapper"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/checkouts:
    post:
      operationId: createCheckout
      tags: [Checkouts]
      summary: Create a checkout session
      description: |
        Creates a new checkout session for a product. Returns a URL where you can redirect
        your customer to complete the payment. Checkout sessions expire after 24 hours.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCheckoutRequest"
            example:
              productId: "prod_abc123"
              successUrl: "https://example.com/success"
              cancelUrl: "https://example.com/cancel"
              customerEmail: "customer@example.com"
              displayMerchantName: "Campaign Store"
              metadata:
                userId: "user_456"
      responses:
        "200":
          description: Checkout session created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  id: "cs_xyz789"
                  productId: "prod_abc123"
                  amount: "9.99"
                  currency: "USD"
                  status: "OPEN"
                  url: "https://payment.kyren.io/checkout/cs_xyz789"
                  expiresAt: 1736934000000
                  createdAt: 1736932200000
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/checkouts/{id}:
    get:
      operationId: getCheckout
      tags: [Checkouts]
      summary: Retrieve a checkout session
      description: Retrieves the details of an existing checkout session.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: The checkout session object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutResponseWrapper"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/orders:
    get:
      operationId: listOrders
      tags: [Orders]
      summary: List all orders
      description: Returns a paginated list of your orders. An order may exist before payment completes; use its status to decide whether to fulfill.
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/OrderStatus"
          description: Filter by order status
        - name: productId
          in: query
          required: false
          schema:
            type: string
          description: Filter by product ID
        - name: startDate
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: "Filter orders created on or after this time (Unix timestamp in milliseconds)"
        - name: endDate
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: "Filter orders created on or before this time (Unix timestamp in milliseconds)"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: A paginated list of orders
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderListResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  items:
                    - id: "order_def456"
                      productId: "prod_abc123"
                      customerEmail: "customer@example.com"
                      customerName: null
                      amount: "9.99"
                      currency: "USD"
                      platformFeeRate: "0.04"
                      platformFee: "0.40"
                      netAmount: "9.59"
                      settledAmount: "9.59"
                      settledCurrency: "USD"
                      exchangeRate: "1"
                      hkdExchangeRate: null
                      paymentMethod: "CREDIT_CARD"
                      status: "PAID"
                      paidAt: 1736932500000
                      settledAt: null
                      metadata:
                        userId: "user_456"
                      createdAt: 1736932200000
                  pagination:
                    page: 1
                    size: 20
                    total: 1
                    totalPages: 1
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/orders/{id}:
    get:
      operationId: getOrder
      tags: [Orders]
      summary: Retrieve an order
      description: Retrieves merchant-visible order details, including original and payable amounts, fee sharing, refund status, and rolling reserve information.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: The order detail object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetailResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  id: "order_def456"
                  checkoutSessionId: "cs_xyz789"
                  productId: "prod_abc123"
                  customerEmail: "customer@example.com"
                  customerName: null
                  amount: "9.99"
                  currency: "USD"
                  platformFeeRate: "0.04"
                  platformFee: "0.40"
                  netAmount: "9.59"
                  settledAmount: "9.59"
                  settledCurrency: "USD"
                  exchangeRate: "1"
                  hkdExchangeRate: null
                  paymentMethod: "CREDIT_CARD"
                  baseAmount: "9.99"
                  payableAmount: "9.99"
                  refundStatus: "NONE"
                  refundedAmount: "0"
                  status: "PAID"
                  paidAt: 1736932500000
                  settledAt: null
                  payerIp: "203.0.113.1"
                  metadata:
                    userId: "user_456"
                  createdAt: 1736932200000
                  updatedAt: 1736932500000
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/orders/{orderId}/refunds:
    post:
      operationId: createRefund
      tags: [Refunds]
      summary: Create a refund
      description: |
        Creates a full or partial refund for an eligible paid order created through the native Kyren API.
        Epay-source orders must be refunded through the Epay compatibility API.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
          description: The Kyren order ID to refund
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRefundRequest"
            example:
              amount: "9.99"
              reason: "Customer requested refund"
              refundNo: "refund_20260708001"
      responses:
        "200":
          description: Refund request accepted or processed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  id: "refund_abc123"
                  merchantId: "merch_001"
                  orderId: "order_def456"
                  status: "PROCESSING"
                  amount: "9.99"
                  currency: "USD"
                  userRefundAmountUsd: "9.99"
                  merchantDebitUsd: "9.99"
                  reason: "Customer requested refund"
                  errorMessage: null
                  createdAt: 1783526400000
                  updatedAt: 1783526400000
                  succeededAt: null
                  failedAt: null
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/refunds/{refundId}:
    get:
      operationId: getRefund
      tags: [Refunds]
      summary: Retrieve a refund
      description: Retrieves a refund created for one of your orders.
      parameters:
        - name: refundId
          in: path
          required: true
          schema:
            type: string
          description: The Kyren refund ID
      responses:
        "200":
          description: The refund object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundResponseWrapper"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/orders/export:
    get:
      operationId: exportOrders
      tags: [Orders]
      summary: Export orders as CSV
      description: |
        Exports orders within the specified date range as a CSV file.
        Use Unix timestamps (milliseconds) for startDate and endDate.
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: Start of date range (Unix timestamp in milliseconds, inclusive)
        - name: endDate
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: End of date range (Unix timestamp in milliseconds, inclusive)
      responses:
        "200":
          description: CSV file of orders
          content:
            text/csv:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/balance:
    get:
      operationId: getBalance
      tags: [Balance]
      summary: Retrieve account balance
      description: Returns the current balance of your merchant account.
      responses:
        "200":
          description: The balance object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  available: "1250.00"
                  pending: "350.00"
                  frozen: "0.00"
                  currency: "USD"
                  updatedAt: 1736932500000
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /v1/balance/transactions:
    get:
      operationId: listBalanceTransactions
      tags: [Balance]
      summary: List balance transactions
      description: Returns a paginated list of balance transactions showing all changes to your account balance.
      parameters:
        - name: type
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/BalanceTransactionType"
          description: Filter by transaction type
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: A paginated list of balance transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceTransactionListResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  items:
                    - id: "btx_ghi789"
                      type: "PAYMENT"
                      amount: "9.29"
                      currency: "USD"
                      availableAfter: "1250.00"
                      pendingAfter: "350.00"
                      frozenAfter: "0.00"
                      sourceType: "order"
                      sourceId: "order_def456"
                      description: "Payment received for order order_def456"
                      createdAt: 1736932500000
                  pagination:
                    page: 1
                    size: 20
                    total: 1
                    totalPages: 1
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /epay/submit.php:
    post:
      operationId: createEpaySubmit
      tags: [Epay Compatibility]
      summary: submit.php (redirect checkout compatibility endpoint)
      description: |
        Creates (or reuses) an Epay-compatible payment and returns HTTP 302 redirect to the hosted payment page.
        This endpoint also accepts GET with the same parameters.

        Signature algorithm:
        1. Remove `sign` and `sign_type`, and drop empty values.
        2. Sort parameters by key in ascending order.
        3. Join as `k=v` with `&`, append merchant API key.
        4. MD5 the final string and compare in lowercase.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/EpaySubmitRequest"
            example:
              pid: "merch_001"
              type: "alipay"
              out_trade_no: "order_20260409001"
              notify_url: "https://merchant.example.com/pay/notify"
              return_url: "https://merchant.example.com/pay/return"
              name: "AI Credits Package"
              money: "99.00"
              money_type: "CNY"
              display_merchant_name: "Campaign Store"
              param: "user_42"
              sign: "fb7f5f742f89eb1f137fbc293f2bf42a"
              sign_type: "MD5"
      responses:
        "302":
          description: Redirect to checkout/payment page
          headers:
            Location:
              description: Redirect target URL
              schema:
                type: string
                format: uri
        "200":
          description: Request rejected (returns compatibility error body)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EpaySimpleResponse"
              example:
                code: 0
                msg: "签名验证失败"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /epay/mapi.php:
    post:
      operationId: createEpayMapi
      tags: [Epay Compatibility]
      summary: mapi.php (direct create payment compatibility endpoint)
      description: |
        Creates (or reuses) an order directly and returns Epay-style response fields.
        For QR-style channels, response includes `qrcode` and `img`.
        For redirect-style channels, response includes `payurl`.

        Signature algorithm:
        1. Remove `sign` and `sign_type`, and drop empty values.
        2. Sort parameters by key in ascending order.
        3. Join as `k=v` with `&`, append merchant API key.
        4. MD5 the final string and compare in lowercase.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/EpayMapiRequest"
            example:
              pid: "merch_001"
              type: "wxpay"
              out_trade_no: "order_20260409002"
              notify_url: "https://merchant.example.com/pay/notify"
              return_url: "https://merchant.example.com/pay/return"
              name: "AI Credits 1000"
              money: "9.99"
              money_type: "CNY"
              display_merchant_name: "Campaign Store"
              param: "user_42"
              clientip: "203.0.113.9"
              device: "pc"
              sign: "1ce4f4f5294ec4c95f6b79ff79dbb57b"
              sign_type: "MD5"
      responses:
        "200":
          description: Epay-compatible create payment result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EpayMapiResponse"
              examples:
                successQr:
                  summary: QR payment response
                  value:
                    code: 1
                    trade_no: "order_epay_001"
                    out_trade_no: "order_20260409002"
                    qrcode: "weixin://wxpay/bizpayurl?pr=xxxx"
                    img: "https://api.qrserver.com/v1/create-qr-code/?size=240x240&data=weixin%3A%2F%2Fwxpay%2Fbizpayurl%3Fpr%3Dxxxx"
                successRedirect:
                  summary: Redirect payment response
                  value:
                    code: 1
                    trade_no: "order_epay_002"
                    out_trade_no: "order_20260409003"
                    payurl: "https://payment.kyren.io/epay/redirect/order_epay_002"
                error:
                  summary: Error response
                  value:
                    code: 0
                    msg: "订单 order_20260409002 正在创建中，请稍后重试"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /epay/api.php:
    post:
      operationId: callEpayApi
      tags: [Epay Compatibility]
      summary: api.php (order query/refund compatibility endpoint)
      description: |
        Executes compatibility operations with `act`.
        - `act=order`: query order status/result.
        - `act=refund`: submit a refund for an eligible Epay-source order.

        This endpoint also accepts GET with the same parameters.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/EpayApiRequest"
            examples:
              queryOrder:
                summary: Query by out_trade_no
                value:
                  act: "order"
                  pid: "merch_001"
                  key: "merchant_raw_api_key"
                  out_trade_no: "order_20260409002"
              refund:
                summary: Refund by trade_no
                value:
                  act: "refund"
                  pid: "merch_001"
                  key: "merchant_raw_api_key"
                  trade_no: "order_epay_001"
                  money: "9.99"
                  refund_no: "refund_20260708001"
                  reason: "Customer requested refund"
      responses:
        "200":
          description: Epay-compatible operation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EpayApiResponse"
              examples:
                orderSuccess:
                  summary: Successful order query
                  value:
                    code: 1
                    msg: "查询订单号成功！"
                    trade_no: "order_epay_001"
                    out_trade_no: "order_20260409002"
                    type: "wxpay"
                    pid: "merch_001"
                    addtime: "2026-04-09 06:10:20"
                    endtime: "2026-04-09 06:11:08"
                    name: "AI Credits 1000"
                    money: "9.99"
                    status: 1
                    param: "user_42"
                    buyer: ""
                refundAccepted:
                  summary: Refund accepted
                  value:
                    code: 1
                    msg: "退款提交成功"
                    trade_no: "order_epay_001"
                    out_trade_no: "order_20260409002"
                    refund_no: "refund_20260708001"
                    refund_id: "refund_abc123"
                    money: "9.99"
                    status: "PROCESSING"
                error:
                  summary: Generic error
                  value:
                    code: 0
                    msg: "订单不存在"
        "429":
          $ref: "#/components/responses/TooManyRequests"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: |
        Your API key. Public production API-key endpoints accept `kyren_live_*` keys. Staging credentials are environment-specific and must be used only with the staging environment for which Kyren issued them.

  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier of the resource
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
        minimum: 1
      description: Page number (1-indexed)
    Size:
      name: size
      in: query
      required: false
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
      description: Number of items per page

  responses:
    BadRequest:
      description: Bad request — invalid parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            code: 40001
            message: "Validation failed"
            error:
              field: "productId"
              reason: "Product ID is required"
    Unauthorized:
      description: Unauthorized — missing or invalid API key. Authentication middleware may return an empty body; inspect the HTTP status before parsing JSON.
    NotFound:
      description: Not found — the requested resource does not exist
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            code: 40401
            message: "Not Found"

    Conflict:
      description: Conflicting state or idempotency request. Reconcile the existing resource before retrying.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            code: 40901
            message: "Conflict"

    TooManyRequests:
      description: Rate limit exceeded. Ordinary API requests default to 100 per minute per IP; checkout creation defaults to 60 per minute per merchant. Deployment settings may differ.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            code: 42901
            message: "Too many requests"

    ServiceUnavailable:
      description: External service is unavailable. Retry with backoff and reconcile payment requests before creating replacements.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            code: 50002
            message: "External service unavailable"

  schemas:
    # --- Enums ---
    ProductStatus:
      type: string
      enum: [ACTIVE, ARCHIVED]
      description: |
        - `ACTIVE` — Product is available for checkout
        - `ARCHIVED` — Product is archived and cannot be used

    CheckoutStatus:
      type: string
      enum: [OPEN, COMPLETE, EXPIRED]
      description: |
        - `OPEN` — Checkout session is awaiting payment
        - `COMPLETE` — Payment has been completed
        - `EXPIRED` — Checkout session has expired (24 hours)

    OrderStatus:
      type: string
      enum: [CREATING, PENDING, PAID, SETTLED, REFUNDED, DISPUTED, CHARGEBACK, FAILED, CLOSED, REVOKED]
      description: |
        - `CREATING` — Order is being created while waiting for gateway result
        - `PENDING` — Order created, awaiting payment confirmation
        - `PAID` — Payment confirmed
        - `SETTLED` — Funds settled to merchant balance
        - `REFUNDED` — Order has been refunded
        - `DISPUTED` — Order is under dispute
        - `CHARGEBACK` — Card payment was charged back
        - `FAILED` — Payment failed
        - `CLOSED` — Order closed (expired or unpaid)
        - `REVOKED` — Order has been revoked

    PaymentMethod:
      type: string
      enum: [CREDIT_CARD, WECHAT_PAY, ALIPAY, PAYNOW, CRYPTO]
      description: The payment method used by the customer

    RefundStatus:
      type: string
      enum: [CREATED, SUBMITTING, PROCESSING, SUCCEEDED, FAILED, UNKNOWN]
      description: |
        - `CREATED` — Refund record has been created
        - `SUBMITTING` — Refund is being submitted to the provider
        - `PROCESSING` — Provider is processing the refund
        - `SUCCEEDED` — Refund succeeded
        - `FAILED` — Refund failed
        - `UNKNOWN` — Final provider status is not confirmed yet

    BalanceTransactionType:
      type: string
      enum: [PAYMENT, SETTLEMENT, PAYOUT, FREEZE, UNFREEZE, CHARGEBACK, CHARGEBACK_FEE, CHARGEBACK_RECOVERY, ROLLING_RESERVE_RECOVERY, ROLLING_RESERVE, ROLLING_RESERVE_RELEASE, ROLLING_RESERVE_OFFSET, ADMIN_RECHARGE, REFUND, FEE, BALANCE_CORRECTION]
      description: |
        - `PAYMENT` — Payment received (added to pending)
        - `SETTLEMENT` — Funds settled (pending → available)
        - `PAYOUT` — Payout deducted from available
        - `FREEZE` / `UNFREEZE` — Funds frozen or released
        - `CHARGEBACK` — Chargeback deduction
        - `CHARGEBACK_FEE` — Chargeback fee deduction
        - `CHARGEBACK_RECOVERY` — Chargeback recovery credit
        - `ROLLING_RESERVE_RECOVERY` — Reserve restored after chargeback recovery
        - `ROLLING_RESERVE` — Rolling reserve hold
        - `ROLLING_RESERVE_RELEASE` — Rolling reserve release
        - `ROLLING_RESERVE_OFFSET` — Rolling reserve used to offset chargeback loss
        - `ADMIN_RECHARGE` — Manual admin recharge
        - `REFUND` — Refund deduction
        - `FEE` — Fee deduction
        - `BALANCE_CORRECTION` — Administrative duplicate-payment balance correction

    # --- Request Schemas ---
    CreateProductRequest:
      type: object
      required: [name, price]
      properties:
        name:
          type: string
          maxLength: 200
          description: The name of the product
        description:
          type: string
          maxLength: 1000
          description: A description of the product
        image:
          type: string
          description: URL of the product image
        price:
          type: string
          pattern: '^\d+(\.\d{1,2})?$'
          description: The price of the product (e.g. "9.99"), must be at least 0.01
        currency:
          type: string
          default: "USD"
          description: Three-letter ISO currency code (e.g. USD, CNY, HKD)
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Arbitrary key-value pairs for your own use

    UpdateProductRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 1000
        image:
          type: string
        price:
          type: string
          pattern: '^\d+(\.\d{1,2})?$'
        currency:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string

    CreateCheckoutRequest:
      type: object
      required: [productId, successUrl]
      properties:
        productId:
          type: string
          description: The ID of the product to create a checkout for
        successUrl:
          type: string
          format: uri
          description: URL to redirect the customer to after successful payment
        cancelUrl:
          type: string
          format: uri
          description: URL to redirect the customer to if they cancel the payment
        customerEmail:
          type: string
          format: email
          description: Pre-fill the customer's email on the checkout page
        customerName:
          type: string
          description: Pre-fill the customer's name on the checkout page
        displayMerchantName:
          type: string
          maxLength: 80
          description: Optional per-checkout merchant display name shown on the hosted checkout page. Also accepted as `display_merchant_name`.
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Arbitrary key-value pairs attached to the checkout and resulting order

    CreateRefundRequest:
      type: object
      required: [amount]
      properties:
        amount:
          type: string
          description: Refund amount as a decimal string. Must be greater than 0 and not exceed the remaining refundable amount.
        reason:
          type: ["string","null"]
          description: Optional refund reason.
        refundNo:
          type: ["string","null"]
          description: Optional merchant refund number used for idempotency.

    EpaySignType:
      type: string
      enum: [MD5]
      description: Signature type. Current compatibility implementation only supports MD5.

    EpayPaymentType:
      type: string
      enum: [alipay, wxpay, creditcard, crypto, paynow]
      description: Payment channel type in Epay compatibility mode.

    EpaySubmitRequest:
      type: object
      required: [pid, type, out_trade_no, notify_url, return_url, name, money, sign, sign_type]
      properties:
        pid:
          type: string
          description: Merchant ID
        type:
          $ref: "#/components/schemas/EpayPaymentType"
        out_trade_no:
          type: string
          description: Merchant order number (must be unique under one merchant)
        notify_url:
          type: string
          format: uri
          description: Merchant async callback URL
        return_url:
          type: string
          format: uri
          description: Merchant sync return URL
        name:
          type: string
          description: Product name
        money:
          type: string
          description: Order amount, decimal string, must be greater than 0
        money_type:
          type: string
          default: CNY
          description: Currency code. Defaults to CNY when omitted.
        param:
          type: string
          description: Pass-through parameter returned in callbacks and order queries
        display_merchant_name:
          type: string
          maxLength: 80
          description: Optional per-payment merchant display name shown on Kyren intermediate payment pages
        userId:
          type: string
          description: Optional merchant user identifier passed to the payment gateway when supported.
        device:
          type: string
          enum: [pc, mobile]
          description: Optional device hint. For Alipay/WeChat, reusing the same `out_trade_no` with a different device flow can be rejected.
        channel_param:
          type: string
          description: Optional JSON string for non-card channel-specific fields. For `type=creditcard`, the raw value participates in signature verification but is ignored after verification. Do not send card details or billing/contact data in this field; the buyer enters card information on a hosted payment page.
        sign:
          type: string
          description: Lowercase MD5 signature
        sign_type:
          $ref: "#/components/schemas/EpaySignType"

    EpayMapiRequest:
      type: object
      required: [pid, type, out_trade_no, notify_url, name, money, clientip, sign, sign_type]
      properties:
        pid:
          type: string
          description: Merchant ID
        type:
          $ref: "#/components/schemas/EpayPaymentType"
        out_trade_no:
          type: string
          description: Merchant order number (must be unique under one merchant)
        notify_url:
          type: string
          format: uri
          description: Merchant async callback URL
        return_url:
          type: string
          format: uri
          description: Merchant sync return URL
        name:
          type: string
          description: Product name
        money:
          type: string
          description: Order amount, decimal string, must be greater than 0
        money_type:
          type: string
          default: CNY
          description: Currency code. Defaults to CNY when omitted.
        param:
          type: string
          description: Pass-through parameter returned in callbacks and order queries
        display_merchant_name:
          type: string
          maxLength: 80
          description: Optional per-payment merchant display name shown on Kyren intermediate payment pages
        clientip:
          type: string
          description: Client IP address
        device:
          type: string
          default: pc
          description: Device identifier passed to gateway (e.g. pc)
        channel_param:
          type: string
          description: |
            Optional JSON string for non-card channel-specific fields.
            For `type=creditcard`, the raw value participates in signature verification
            but is ignored after verification. Do not send card details or billing/contact
            data in this field; the buyer enters card information on a hosted payment page.
        userId:
          type: string
          description: Optional merchant user identifier passed to the payment gateway when supported.
        sign:
          type: string
          description: Lowercase MD5 signature
        sign_type:
          $ref: "#/components/schemas/EpaySignType"

    EpayApiRequest:
      type: object
      required: [act, pid, key]
      properties:
        act:
          type: string
          enum: [order, refund]
          description: API action.
        pid:
          type: string
          description: Merchant ID
        key:
          type: string
          description: Merchant raw API key (not encrypted key)
        out_trade_no:
          type: string
          description: Merchant order number. Required when `trade_no` is not provided.
        trade_no:
          type: string
          description: Platform order ID. Required when `out_trade_no` is not provided.
        money:
          type: string
          description: Required for `act=refund`. Refund amount as a decimal string.
        refund_no:
          type: string
          description: Optional merchant refund number for `act=refund`; used for idempotency when provided.
        reason:
          type: string
          description: Optional refund reason for `act=refund`.

    EpaySimpleResponse:
      type: object
      required: [code]
      properties:
        code:
          type: integer
          enum: [0]
        msg:
          type: string

    EpayMapiSuccessResponse:
      type: object
      required: [code]
      properties:
        code:
          type: integer
          enum: [1]
        trade_no:
          type: string
          description: Platform order ID
        out_trade_no:
          type: string
          description: Merchant order number
        payurl:
          type: ["string","null"]
          description: Redirect URL for browser/app payment flows
        qrcode:
          type: ["string","null"]
          description: QR code payload or H5 payment URL depending on channel
        img:
          type: ["string","null"]
          description: QR image URL generated from `qrcode`

    EpayMapiResponse:
      oneOf:
        - $ref: "#/components/schemas/EpayMapiSuccessResponse"
        - $ref: "#/components/schemas/EpaySimpleResponse"

    EpayOrderQuerySuccessResponse:
      type: object
      required: [code, status]
      properties:
        code:
          type: integer
          enum: [1]
        msg:
          type: string
        trade_no:
          type: string
        out_trade_no:
          type: string
        type:
          $ref: "#/components/schemas/EpayPaymentType"
        pid:
          type: string
        addtime:
          type: string
          description: UTC datetime string, format `yyyy-MM-dd HH:mm:ss`
        endtime:
          type: string
          description: UTC datetime string, empty when unpaid
        name:
          type: string
        money:
          type: string
        status:
          type: integer
          enum: [0, 1]
          description: 1 means paid/settled; 0 means not paid
        param:
          type: string
        buyer:
          type: string
          description: Reserved field, currently empty string

    EpayRefundSuccessResponse:
      type: object
      required: [code, status]
      properties:
        code:
          type: integer
          enum: [1]
        msg:
          type: string
          example: 退款提交成功
        trade_no:
          type: string
          description: Platform order ID
        out_trade_no:
          type: string
          description: Merchant order number
        refund_no:
          type: ["string","null"]
          description: Merchant refund number when provided
        refund_id:
          type: string
          description: Kyren refund ID
        money:
          type: string
          description: Refund amount
        status:
          $ref: "#/components/schemas/RefundStatus"

    EpayApiResponse:
      oneOf:
        - $ref: "#/components/schemas/EpayOrderQuerySuccessResponse"
        - $ref: "#/components/schemas/EpayRefundSuccessResponse"
        - $ref: "#/components/schemas/EpaySimpleResponse"

    # --- Response Schemas ---
    Product:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier
        name:
          type: string
        description:
          type: [string, "null"]
        image:
          type: [string, "null"]
        price:
          type: string
        currency:
          type: string
        status:
          $ref: "#/components/schemas/ProductStatus"
        metadata:
          type: [object, "null"]
          additionalProperties:
            type: string
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
        updatedAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds

    Checkout:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier
        productId:
          type: string
        amount:
          type: string
          description: Order amount (e.g. "9.99")
        currency:
          type: string
        status:
          $ref: "#/components/schemas/CheckoutStatus"
        orderId:
          type: string
          description: Kyren order ID for the final successful payment. Present only after the checkout has been linked to that order.
        url:
          type: string
          format: uri
          description: The URL to redirect the customer to for payment
        expiresAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds

    OrderProductSnapshot:
      type: object
      description: Product information captured when the order was created. Historical orders may have no snapshot.
      properties:
        name:
          type: string
        description:
          type: ["string","null"]
        image:
          type: ["string","null"]
        price:
          type: string
        currency:
          type: string

    OrderRefundStatus:
      type: string
      enum: [NONE, PARTIAL, FULL]
      description: Cumulative successful refund state of the order, distinct from an individual refund record's status.

    Order:
      type: object
      properties:
        id:
          type: string
        checkoutSessionId:
          type: ["string","null"]
          description: Related checkout session, if present.
        productId:
          type: string
        productSnapshot:
          anyOf:
            - $ref: "#/components/schemas/OrderProductSnapshot"
            - type: "null"
        customerEmail:
          type: [string, "null"]
        customerName:
          type: [string, "null"]
        amount:
          type: string
          description: Original merchant order amount, before any fee charged to the customer.
        currency:
          type: string
        platformFeeRate:
          type: string
          description: Platform fee rate (e.g. "0.04" for 4%)
        platformFee:
          type: string
          description: Total platform fee in the order currency. Use detail fee-sharing fields to distinguish customer and merchant portions.
        platformFeeUsd:
          type: ["string","null"]
          description: Total platform fee in USD, when the financial snapshot is available.
        netAmount:
          type: string
          description: Original merchant amount minus the merchant's allocated fee, in the order currency. Reserve holds are recorded separately. Do not subtract the entire platform fee when part of the fee is charged to the customer.
        settledAmount:
          type: ["string","null"]
          description: Net amount converted to USD for settlement
        settledCurrency:
          type: string
          description: Settlement currency, always "USD"
        exchangeRate:
          type: ["string","null"]
          description: Exchange rate used for settlement conversion. A captured USD snapshot uses `"1"`; null indicates that the rate is not available.
        hkdExchangeRate:
          type: ["string","null"]
          description: Exchange rate from payment currency to HKD used by the payment gateway (null for HKD orders)
        paymentMethod:
          $ref: "#/components/schemas/PaymentMethod"
        type:
          type: string
          enum: [PAYMENT, ONBOARDING_FEE]
        status:
          $ref: "#/components/schemas/OrderStatus"
        refundStatus:
          $ref: "#/components/schemas/OrderRefundStatus"
        refundedAmount:
          type: string
          description: Cumulative successful refund amount in the order currency.
        paidAt:
          type: ["integer","null"]
          format: int64
          description: Unix timestamp in milliseconds, null if not paid
        settledAt:
          type: ["integer","null"]
          format: int64
          description: Unix timestamp in milliseconds, null if not settled
        metadata:
          type: [object, "null"]
          additionalProperties:
            type: string
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds

    OrderDetail:
      allOf:
        - $ref: "#/components/schemas/Order"
        - type: object
          properties:
            checkoutSessionId:
              type: string
            baseAmount:
              type: string
              description: Original merchant order amount; the same amount presented by `amount`.
            payableAmount:
              type: string
              description: Final amount charged to the customer, including their allocated fee when applicable.
            grossAmountUsd:
              type: ["string","null"]
              description: Final gross payment amount converted to USD in the financial snapshot.
            perTransactionFee:
              type: string
              description: Total fixed fee configured in USD.
            payerFeeRate:
              type: string
              description: Decimal rate allocated to the customer, such as `0.02` for 2%.
            merchantFeeRate:
              type: string
              description: Decimal rate allocated to the merchant.
            payerPerTransactionFee:
              type: string
              description: Fixed fee allocated to the customer, configured in USD.
            merchantPerTransactionFee:
              type: string
              description: Fixed fee allocated to the merchant, configured in USD.
            payerFee:
              type: ["string","null"]
              description: Customer fee in the order currency.
            payerFeeUsd:
              type: ["string","null"]
              description: Customer fee in USD.
            merchantFee:
              type: ["string","null"]
              description: Merchant fee in the order currency.
            merchantFeeUsd:
              type: ["string","null"]
              description: Merchant fee in USD.
            rollingReserveAmount:
              type: ["string","null"]
              description: Reserve withheld in the order currency.
            rollingReserveReleaseAt:
              type: ["integer","null"]
              format: int64
              description: Expected reserve release time in Unix milliseconds.
            settleDateTime:
              type: ["integer","null"]
              format: int64
              description: Expected settlement eligibility time in Unix milliseconds; not a guarantee of actual settlement or payout.
            payerIp:
              type: ["string","null"]
            clientUserAgent:
              type: ["string","null"]
            updatedAt:
              type: integer
              format: int64
              description: Unix timestamp in milliseconds

    Refund:
      type: object
      properties:
        id:
          type: string
        merchantId:
          type: string
        orderId:
          type: string
        status:
          $ref: "#/components/schemas/RefundStatus"
        amount:
          type: string
        currency:
          type: string
        userRefundAmountUsd:
          type: ["string","null"]
        merchantDebitUsd:
          type: ["string","null"]
        reason:
          type: string
        errorMessage:
          type: ["string","null"]
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
        updatedAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
        succeededAt:
          type: ["integer","null"]
          format: int64
          description: Unix timestamp in milliseconds
        failedAt:
          type: ["integer","null"]
          format: int64
          description: Unix timestamp in milliseconds

    Balance:
      type: object
      properties:
        available:
          type: string
          description: Funds available for payout
        pending:
          type: string
          description: Funds awaiting settlement
        frozen:
          type: string
          description: Funds currently frozen
        rollingReserve:
          type: string
          description: Funds currently held as rolling reserve
        currency:
          type: string
        updatedAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds

    CurrencyOption:
      type: object
      properties:
        code:
          type: string
          description: Three-letter ISO currency code (e.g. USD, CNY, HKD)
        label:
          type: string
          description: Display label for the currency

    CurrenciesResponse:
      type: object
      properties:
        currencies:
          type: array
          items:
            $ref: "#/components/schemas/CurrencyOption"
          description: List of supported currencies
        defaultCurrency:
          type: string
          description: The default currency code used when none is specified

    SettlementConfig:
      type: object
      required: [settlementDays]
      properties:
        settlementDays:
          type: integer
          description: Platform-wide settlement period in business days. An order's captured channel period may differ.

    LegalConfig:
      type: object
      required: [legalTermsVersion, legalUserAgreementUrl, legalPrivacyPolicyUrl, legalDisclaimerUrl, legalAupUrl]
      properties:
        legalTermsVersion:
          type: string
        legalUserAgreementUrl:
          type: string
          format: uri
        legalPrivacyPolicyUrl:
          type: string
          format: uri
        legalDisclaimerUrl:
          type: string
          format: uri
        legalAupUrl:
          type: string
          format: uri

    MerchantAgreementDocument:
      type: object
      required: [agreementVersion, effectiveDate, effectiveDateDisplay, templateSha256, renderedDocumentSha256, markdownContent, acceptanceStatement, actionLabel, documentUrl]
      properties:
        agreementVersion:
          type: string
          description: Version identifier, such as `1.0`.
        effectiveDate:
          type: string
          format: date
          description: Rendered document's effective calendar date (`YYYY-MM-DD`), distinct from a millisecond event timestamp.
        effectiveDateDisplay:
          type: string
        templateSha256:
          type: string
          description: SHA-256 digest of the agreement template.
        renderedDocumentSha256:
          type: string
          description: SHA-256 digest of the rendered agreement text.
        markdownContent:
          type: string
        acceptanceStatement:
          type: string
        actionLabel:
          type: string
        documentUrl:
          type: string
          format: uri

    BalanceTransaction:
      type: object
      properties:
        id:
          type: string
        type:
          $ref: "#/components/schemas/BalanceTransactionType"
        amount:
          type: string
          description: Amount change (positive for increase, negative for decrease)
        currency:
          type: string
        availableAfter:
          type: string
          description: Available balance after this transaction
        pendingAfter:
          type: string
        frozenAfter:
          type: string
        sourceType:
          type: ["string","null"]
          description: "Type of the source resource (e.g. order, payout)"
        sourceId:
          type: ["string","null"]
          description: ID of the source resource
        relatedOrderId:
          type: ["string","null"]
          description: Related order ID when this transaction is linked to an order.
        receiptUrl:
          type: ["string","null"]
        description:
          type: ["string","null"]
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds

    # --- Pagination ---
    Pagination:
      type: object
      properties:
        page:
          type: integer
        size:
          type: integer
        total:
          type: integer
          format: int64
        totalPages:
          type: integer

    # --- Wrapper Schemas ---
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          description: Kyren business error code, not the HTTP status. For example, HTTP 400 may contain code 40001.
        message:
          type: string
        error:
          type: object
          properties:
            field:
              type: string
            reason:
              type: string

    EmptyResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"

    ProductResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          $ref: "#/components/schemas/Product"

    ProductListResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/Product"
            pagination:
              $ref: "#/components/schemas/Pagination"

    CheckoutResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          $ref: "#/components/schemas/Checkout"

    OrderListResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/Order"
            pagination:
              $ref: "#/components/schemas/Pagination"

    OrderDetailResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          $ref: "#/components/schemas/OrderDetail"

    RefundResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          $ref: "#/components/schemas/Refund"

    BalanceResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          $ref: "#/components/schemas/Balance"

    CurrenciesResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          $ref: "#/components/schemas/CurrenciesResponse"

    SettlementConfigResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: success
        data:
          $ref: "#/components/schemas/SettlementConfig"

    LegalConfigResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: success
        data:
          $ref: "#/components/schemas/LegalConfig"

    MerchantAgreementDocumentResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: success
        data:
          $ref: "#/components/schemas/MerchantAgreementDocument"

    BalanceTransactionListResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/BalanceTransaction"
            pagination:
              $ref: "#/components/schemas/Pagination"
