openapi: 3.1.0
info:
  title: Kyren Pay API
  description: |
    The Kyren Pay API enables merchants to accept payments from customers worldwide.
    Integrate checkout sessions, manage products, track orders, and handle webhooks.

    **Data types**: The API uses the following types for request/response data:
    - **string**: For text, identifiers, and **all amount/price fields** (e.g. `price`, `amount`, `platformFee`, `available`)
      to avoid floating-point precision issues. Use decimal format like `"9.99"`.
    - **integer**: For counts, pagination, and timestamps
    - **timestamp**: Unix timestamp in milliseconds (integer) for all time fields (e.g. `createdAt`, `paidAt`, `expiresAt`).
      Time parameters (e.g. `startDate`, `endDate`) also use Unix milliseconds.
  version: "1.0.0"
  contact:
    name: Kyren Pay Support
    email: support@kyren.top
    url: https://kyren.top

servers:
  - url: https://api.kyren.top
    description: Production
  - url: https://test-api.kyren.top
    description: Test / Sandbox

security:
  - ApiKeyAuth: []

tags:
  - name: Config
    description: Retrieve platform configuration such as supported currencies.
  - name: Products
    description: Create and manage products that represent the goods or services you sell.
  - name: Checkouts
    description: Create checkout sessions to collect payments from your customers.
  - name: Orders
    description: View and manage orders created from completed checkout sessions.
  - name: Balance
    description: View your account balance and transaction history.

paths:
  /v1/config/currencies:
    get:
      operationId: getCurrencies
      tags: [Config]
      summary: Get supported currencies
      description: |
        Returns the list of currencies supported by the platform and the default currency.
        Use this when creating products or configuring pricing to ensure you use a supported currency.
      responses:
        "200":
          description: Supported currencies and default currency
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrenciesResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  currencies:
                    - code: "CNY"
                      label: "CNY"
                    - code: "HKD"
                      label: "HKD"
                    - code: "USD"
                      label: "USD"
                  defaultCurrency: "CNY"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/products:
    post:
      operationId: createProduct
      tags: [Products]
      summary: Create a product
      description: Creates a new product. Products represent the goods or services you sell.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProductRequest"
            example:
              name: "1000 AI Credits"
              description: "Top up 1000 credits for AI API usage"
              price: "9.99"
              currency: "USD"
              metadata:
                credits: "1000"
      responses:
        "200":
          description: Product created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  id: "prod_abc123"
                  name: "1000 AI Credits"
                  description: "Top up 1000 credits for AI API usage"
                  image: null
                  price: "9.99"
                  currency: "USD"
                  status: "ACTIVE"
                  metadata:
                    credits: "1000"
                  createdAt: 1736932200000
                  updatedAt: 1736932200000
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

    get:
      operationId: listProducts
      tags: [Products]
      summary: List all products
      description: Returns a paginated list of your products.
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ProductStatus"
          description: Filter by product status
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: A paginated list of products
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductListResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  items:
                    - id: "prod_abc123"
                      name: "1000 AI Credits"
                      description: "Top up 1000 credits for AI API usage"
                      image: null
                      price: "9.99"
                      currency: "USD"
                      status: "ACTIVE"
                      metadata:
                        credits: "1000"
                      createdAt: 1736932200000
                      updatedAt: 1736932200000
                  pagination:
                    page: 1
                    size: 20
                    total: 1
                    totalPages: 1
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/products/{id}:
    get:
      operationId: getProduct
      tags: [Products]
      summary: Retrieve a product
      description: Retrieves the details of an existing product.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: The product object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseWrapper"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      operationId: updateProduct
      tags: [Products]
      summary: Update a product
      description: Updates an existing product. Only the provided fields will be updated.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProductRequest"
            example:
              name: "2000 AI Credits"
              price: "18.99"
      responses:
        "200":
          description: Product updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseWrapper"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: archiveProduct
      tags: [Products]
      summary: Archive a product
      description: Archives a product. Archived products cannot be used to create new checkout sessions.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Product archived successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyResponseWrapper"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/checkouts:
    post:
      operationId: createCheckout
      tags: [Checkouts]
      summary: Create a checkout session
      description: |
        Creates a new checkout session for a product. Returns a URL where you can redirect
        your customer to complete the payment. Checkout sessions expire after 30 minutes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCheckoutRequest"
            example:
              productId: "prod_abc123"
              successUrl: "https://example.com/success"
              cancelUrl: "https://example.com/cancel"
              customerEmail: "customer@example.com"
              metadata:
                userId: "user_456"
      responses:
        "200":
          description: Checkout session created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  id: "cs_xyz789"
                  productId: "prod_abc123"
                  amount: "9.99"
                  currency: "USD"
                  status: "OPEN"
                  url: "https://payment.kyren.io/checkout/cs_xyz789"
                  expiresAt: 1736934000000
                  createdAt: 1736932200000
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/checkouts/{id}:
    get:
      operationId: getCheckout
      tags: [Checkouts]
      summary: Retrieve a checkout session
      description: Retrieves the details of an existing checkout session.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: The checkout session object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutResponseWrapper"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/orders:
    get:
      operationId: listOrders
      tags: [Orders]
      summary: List all orders
      description: Returns a paginated list of your orders. Orders are created when a checkout session is completed.
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/OrderStatus"
          description: Filter by order status
        - name: productId
          in: query
          required: false
          schema:
            type: string
          description: Filter by product ID
        - name: startDate
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: "Filter orders created on or after this time (Unix timestamp in milliseconds)"
        - name: endDate
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: "Filter orders created on or before this time (Unix timestamp in milliseconds)"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: A paginated list of orders
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderListResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  items:
                    - id: "order_def456"
                      productId: "prod_abc123"
                      customerEmail: "customer@example.com"
                      customerName: null
                      amount: "9.99"
                      currency: "USD"
                      platformFee: "0.40"
                      paymentFee: "0.30"
                      netAmount: "9.29"
                      paymentMethod: "CREDIT_CARD"
                      status: "PAID"
                      paidAt: 1736932500000
                      settledAt: null
                      metadata:
                        userId: "user_456"
                      createdAt: 1736932200000
                  pagination:
                    page: 1
                    size: 20
                    total: 1
                    totalPages: 1
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/orders/{id}:
    get:
      operationId: getOrder
      tags: [Orders]
      summary: Retrieve an order
      description: Retrieves the full details of an existing order, including payment gateway information.
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: The order detail object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetailResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  id: "order_def456"
                  checkoutSessionId: "cs_xyz789"
                  productId: "prod_abc123"
                  customerEmail: "customer@example.com"
                  customerName: null
                  amount: "9.99"
                  currency: "USD"
                  platformFee: "0.40"
                  paymentFee: "0.30"
                  netAmount: "9.29"
                  paymentMethod: "CREDIT_CARD"
                  paymentGateway: "allinpay"
                  gatewayOrderId: "gw_001"
                  gatewayTransactionId: "txn_001"
                  status: "PAID"
                  paidAt: 1736932500000
                  settledAt: null
                  payerIp: "203.0.113.1"
                  metadata:
                    userId: "user_456"
                  createdAt: 1736932200000
                  updatedAt: 1736932500000
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/orders/export:
    get:
      operationId: exportOrders
      tags: [Orders]
      summary: Export orders as CSV
      description: |
        Exports orders within the specified date range as a CSV file.
        Use Unix timestamps (milliseconds) for startDate and endDate.
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: Start of date range (Unix timestamp in milliseconds, inclusive)
        - name: endDate
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: End of date range (Unix timestamp in milliseconds, inclusive)
      responses:
        "200":
          description: CSV file of orders
          content:
            text/csv:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/balance:
    get:
      operationId: getBalance
      tags: [Balance]
      summary: Retrieve account balance
      description: Returns the current balance of your merchant account.
      responses:
        "200":
          description: The balance object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  available: "1250.00"
                  pending: "350.00"
                  frozen: "0.00"
                  currency: "USD"
                  updatedAt: 1736932500000
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/balance/transactions:
    get:
      operationId: listBalanceTransactions
      tags: [Balance]
      summary: List balance transactions
      description: Returns a paginated list of balance transactions showing all changes to your account balance.
      parameters:
        - name: type
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/BalanceTransactionType"
          description: Filter by transaction type
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          description: A paginated list of balance transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceTransactionListResponseWrapper"
              example:
                code: 0
                message: "success"
                data:
                  items:
                    - id: "btx_ghi789"
                      type: "PAYMENT"
                      amount: "9.29"
                      currency: "USD"
                      availableAfter: "1250.00"
                      pendingAfter: "350.00"
                      frozenAfter: "0.00"
                      sourceType: "order"
                      sourceId: "order_def456"
                      description: "Payment received for order order_def456"
                      createdAt: 1736932500000
                  pagination:
                    page: 1
                    size: 20
                    total: 1
                    totalPages: 1
        "401":
          $ref: "#/components/responses/Unauthorized"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: |
        Your API key. Use `kyren_live_*` for production and `kyren_test_*` for testing.

  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier of the resource
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
        minimum: 1
      description: Page number (1-indexed)
    Size:
      name: size
      in: query
      required: false
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
      description: Number of items per page

  responses:
    BadRequest:
      description: Bad request — invalid parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            code: 400
            message: "Bad Request"
            error:
              field: "productId"
              reason: "Product ID is required"
    Unauthorized:
      description: Unauthorized — missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            code: 401
            message: "Unauthorized"
    NotFound:
      description: Not found — the requested resource does not exist
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            code: 404
            message: "Not Found"

  schemas:
    # --- Enums ---
    ProductStatus:
      type: string
      enum: [ACTIVE, ARCHIVED]
      description: |
        - `ACTIVE` — Product is available for checkout
        - `ARCHIVED` — Product is archived and cannot be used

    CheckoutStatus:
      type: string
      enum: [OPEN, COMPLETE, EXPIRED]
      description: |
        - `OPEN` — Checkout session is awaiting payment
        - `COMPLETE` — Payment has been completed
        - `EXPIRED` — Checkout session has expired (30 minutes)

    OrderStatus:
      type: string
      enum: [PENDING, PAID, SETTLED, REFUNDED, DISPUTED]
      description: |
        - `PENDING` — Order created, awaiting payment confirmation
        - `PAID` — Payment confirmed
        - `SETTLED` — Funds settled to merchant balance
        - `REFUNDED` — Order has been refunded
        - `DISPUTED` — Order is under dispute

    PaymentMethod:
      type: string
      enum: [CREDIT_CARD, WECHAT_PAY, ALIPAY, PAYNOW]
      description: The payment method used by the customer

    BalanceTransactionType:
      type: string
      enum: [PAYMENT, SETTLEMENT, PAYOUT, FREEZE, UNFREEZE, CHARGEBACK, REFUND, FEE]
      description: |
        - `PAYMENT` — Payment received (added to pending)
        - `SETTLEMENT` — Funds settled (pending → available)
        - `PAYOUT` — Payout deducted from available
        - `FREEZE` / `UNFREEZE` — Funds frozen or released
        - `CHARGEBACK` — Chargeback deduction
        - `REFUND` — Refund deduction
        - `FEE` — Fee deduction

    # --- Request Schemas ---
    CreateProductRequest:
      type: object
      required: [name, price]
      properties:
        name:
          type: string
          maxLength: 200
          description: The name of the product
        description:
          type: string
          maxLength: 1000
          description: A description of the product
        image:
          type: string
          description: URL of the product image
        price:
          type: string
          pattern: '^\d+(\.\d{1,2})?$'
          description: The price of the product (e.g. "9.99"), must be at least 0.01
        currency:
          type: string
          default: "CNY"
          description: Three-letter ISO currency code (e.g. USD, CNY)
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Arbitrary key-value pairs for your own use

    UpdateProductRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 1000
        image:
          type: string
        price:
          type: string
          pattern: '^\d+(\.\d{1,2})?$'
        currency:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string

    CreateCheckoutRequest:
      type: object
      required: [productId, successUrl]
      properties:
        productId:
          type: string
          description: The ID of the product to create a checkout for
        successUrl:
          type: string
          format: uri
          description: URL to redirect the customer to after successful payment
        cancelUrl:
          type: string
          format: uri
          description: URL to redirect the customer to if they cancel the payment
        customerEmail:
          type: string
          format: email
          description: Pre-fill the customer's email on the checkout page
        customerName:
          type: string
          description: Pre-fill the customer's name on the checkout page
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Arbitrary key-value pairs attached to the checkout and resulting order

    # --- Response Schemas ---
    Product:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier
        name:
          type: string
        description:
          type: string
        image:
          type: string
        price:
          type: string
        currency:
          type: string
        status:
          $ref: "#/components/schemas/ProductStatus"
        metadata:
          type: object
          additionalProperties:
            type: string
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
        updatedAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds

    Checkout:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier
        productId:
          type: string
        amount:
          type: string
          description: Order amount (e.g. "9.99")
        currency:
          type: string
        status:
          $ref: "#/components/schemas/CheckoutStatus"
        url:
          type: string
          format: uri
          description: The URL to redirect the customer to for payment
        expiresAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds

    Order:
      type: object
      properties:
        id:
          type: string
        productId:
          type: string
        customerEmail:
          type: string
        customerName:
          type: string
        amount:
          type: string
        currency:
          type: string
        platformFee:
          type: string
          description: Platform fee charged by Kyren Pay
        paymentFee:
          type: string
          description: Payment processing fee
        netAmount:
          type: string
          description: Net amount after fees (amount - platformFee - paymentFee)
        paymentMethod:
          $ref: "#/components/schemas/PaymentMethod"
        status:
          $ref: "#/components/schemas/OrderStatus"
        paidAt:
          type: integer
          format: int64
          nullable: true
          description: Unix timestamp in milliseconds, null if not paid
        settledAt:
          type: integer
          format: int64
          nullable: true
          description: Unix timestamp in milliseconds, null if not settled
        metadata:
          type: object
          additionalProperties:
            type: string
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds

    OrderDetail:
      allOf:
        - $ref: "#/components/schemas/Order"
        - type: object
          properties:
            checkoutSessionId:
              type: string
            paymentGateway:
              type: string
            gatewayOrderId:
              type: string
            gatewayTransactionId:
              type: string
            payerIp:
              type: string
            updatedAt:
              type: integer
              format: int64
              description: Unix timestamp in milliseconds

    Balance:
      type: object
      properties:
        available:
          type: string
          description: Funds available for payout
        pending:
          type: string
          description: Funds awaiting settlement
        frozen:
          type: string
          description: Funds currently frozen
        currency:
          type: string
        updatedAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds

    CurrencyOption:
      type: object
      properties:
        code:
          type: string
          description: Three-letter ISO currency code (e.g. CNY, HKD, USD)
        label:
          type: string
          description: Display label for the currency

    CurrenciesResponse:
      type: object
      properties:
        currencies:
          type: array
          items:
            $ref: "#/components/schemas/CurrencyOption"
          description: List of supported currencies
        defaultCurrency:
          type: string
          description: The default currency code used when none is specified

    BalanceTransaction:
      type: object
      properties:
        id:
          type: string
        type:
          $ref: "#/components/schemas/BalanceTransactionType"
        amount:
          type: string
          description: Amount change (positive for increase, negative for decrease)
        currency:
          type: string
        availableAfter:
          type: string
          description: Available balance after this transaction
        pendingAfter:
          type: string
        frozenAfter:
          type: string
        sourceType:
          type: string
          description: "Type of the source resource (e.g. order, payout)"
        sourceId:
          type: string
          description: ID of the source resource
        description:
          type: string
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds

    # --- Pagination ---
    Pagination:
      type: object
      properties:
        page:
          type: integer
        size:
          type: integer
        total:
          type: integer
          format: int64
        totalPages:
          type: integer

    # --- Wrapper Schemas ---
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        error:
          type: object
          properties:
            field:
              type: string
            reason:
              type: string

    EmptyResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"

    ProductResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          $ref: "#/components/schemas/Product"

    ProductListResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/Product"
            pagination:
              $ref: "#/components/schemas/Pagination"

    CheckoutResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          $ref: "#/components/schemas/Checkout"

    OrderListResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/Order"
            pagination:
              $ref: "#/components/schemas/Pagination"

    OrderDetailResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          $ref: "#/components/schemas/OrderDetail"

    BalanceResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          $ref: "#/components/schemas/Balance"

    CurrenciesResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          $ref: "#/components/schemas/CurrenciesResponse"

    BalanceTransactionListResponseWrapper:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: "success"
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/BalanceTransaction"
            pagination:
              $ref: "#/components/schemas/Pagination"
